
.step,.sub-step,.bubble-wrap,.card-block,.panel-sub{
    display: flex;
    align-items: center;
}
.bubble-circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #bbb;
}
.p-width{
    width: 150px;
}
.branch-hr{
    width: 7vw;
    height: 3px;
    background-color: #bbb;
    top: 50px;
}
.SUCCESS{
    background-color: lightgreen;
}
.NOT_EXECUTED{
    background-color: #bbb;
}
.RUNNING{
    background-color: lightblue;
}
.FAILURE ,.ERROR{
    background-color: red;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; 
    background-color: lightgreen; 
    color: black; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/*nav{
    width: 100vw;
    height: 2vw;
    border: 2px solid green;
    margin-top: 2vw;
    
}*/
/*nav ul{
   
}
nav ul li{
    width: 33%; 
    text-align: center;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10vw; /* 0 width - change this with JavaScript */
     /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0275d8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #555;
}
.navbar{

    width:70vw;
    padding: 0 20vw;
    margin:0 9vw;
}
.navbar-nav .nav-item{
    width: 10vw;
}