<div ng-controller="MainCtrl">
<!--<div>
<lx-tabs>
    <lx-tab ng-repeat="obj in layoutData" lx-label="{{obj.name}}">
        <p class="p+">{{obj.name}}</p>
    </lx-tab>
</lx-tabs>
</div>
<div class="divider divider--dark"></div>
 <div class="bot-nav" flex-items="8">
   <lx-tabs lx-position="bottom">
    <lx-tab lx-label="RUN">
        <p class="p+">
            Lorem Ipsum Content 1 #1<br/>
            Lorem Ipsum Content 1 #2<br/>
            Lorem Ipsum Content 1 #3<br/>
        </p>
    </lx-tab>

    <lx-tab lx-label="RESULT">
        <p class="p+">
            Lorem Ipsum Content 2 #1<br/>
            Lorem Ipsum Content 2 #2<br/>
            Lorem Ipsum Content 2 #3<br/>
        </p>
    </lx-tab>

    <lx-tab lx-label="HISTORY">
        <p class="p+">
            Lorem Ipsum Content 3 #1<br/>
            Lorem Ipsum Content 3 #2<br/>
            Lorem Ipsum Content 3 #3<br/>
        </p>
    </lx-tab>
</lx-tabs>
 </div>-->
<!--<div class="p+">
    <lx-button ng-click="vm.activeTab = 0">Set first tab as active tab</lx-button>
    <lx-button ng-click="vm.tabIsDisabled = !vm.tabIsDisabled">Toggle second tab disabled state</lx-button>
</div>-->
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<a class="navbar-brand" href="#">
            <strong>Navbar</strong>
        </a>-->
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-repeat="obj in layoutData">
                    <a class="nav-link" ng-click="changeHead(obj)">{{obj.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-if="head=='AP'">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" ng-click="subAP('Run')">Run</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ng-click="subAP('Result')">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ng-click="subAP('History')">History</a>
        </li> 
    </ul>
    <div ng-if="subItem=='Run'">
        <h1>Run</h1>
        <div class="subProd" ng-repeat="subProd in layoutData[0].modules">
            <h3>{{subProd.name}}</h3>
            <div ng-repeat="step in subProd.steps">

            </div>
        </div>
    </div>
    <div ng-if="subItem=='Result'">
        <h1>Result</h1>
    </div>
    <div ng-if="subItem=='History'">
        <h1>History</h1>
    </div>
</div>

<div ng-if="head=='Pricing'">
    <h1>you are in Pricing</h1>
</div>

<div ng-if="head=='Distribution'">
    <h1>you are in Distribution</h1>
</div>

</div>